body{
    background-color: rgb(100, 98, 98);
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.watches{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}



.both-button-container{
   
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-right: 40px;
   
}

.each-button-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
}


.start-both-button{
    width: 100px;
    height: 645px;
    margin-top: ;
    background-color:  rgba(53, 120, 245, 0.322);
}
.start-button{
    width: 100px;
    height: 300px;
    margin-left: ;
    background-color: rgb(243, 204, 74);
    margin: 20px;
}

button{
    border-radius: 8px;
}
.start-button:hover{
    background-color: palegoldenrod
}

.start-both-button:hover{
    background-color: palegoldenrod
}


.watch-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: -10px;
    color: white ;
}

.disp{
    width:60px;
    height: 120px; 
    border: 3px solid white;
    display: inline-block;
    margin:0px 10px;
    text-align: center;
    font-size: 80px;
    border-radius: 2px;
}

.nums{
    margin-top: 15px;
}
.dot-container{
    display: inline-block;
    margin-top:-100px;
    font-size: 100px;
    
    
}

.watchContainer{
        margin: 20px;
        border: 5px solid #FFFF00;
        border-radius: 10px;
        padding: 40px;
        min-width: 460px;
        

   
}

.text-container{
    margin-left: 20px;
    margin-right: -40px;
    margin-top: 15px;
}

.text{
    display: inline-block;
    font-size: 25px; 
    color: white; 
    margin-right: 80px;
}