
body{
    background-color: rgb(24, 22, 22);
    zoom: 0.55;
    -moz-transform: scale(0.55);

   
}
#wrapper{
    margin-top: 10%;
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    font-family: sans-serif;
    background-color: rgb(43, 39, 39)
}
#testdiv{
    width:70px;
    height:70px;
    position:absolute;
    border-radius: 10px;
    background-color: rgb(58, 160, 255);
    display:none; 
}

.watches{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

.watchContainer{
    margin: 20px;
    border: 5px solid #FFFF00;
    border-radius: 90px;
    padding: 50px;
    min-width: 530px;

}

.watch-title{
   font-size: 45px !important;
}



.both-button-container{
   
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-right: 40px;
   
}

.each-button-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
}


.start-button{
    width: 100px;
    height: 300px;
    margin-right: 5px !important;
    background-color: rgb(74, 243, 116);
    margin: 20px;
} 
.start-button:hover{
    background-color: rgb(44, 199, 83);
}

.start-both-button{
    width: 100px;
    height: 645px;
    margin-right: -10px !important;
    background-color: rgb(74, 243, 116);
}


button{
    border-radius: 70px;
    border:none;
    font-size: 18px;
}
.start-both-button:hover{
   background-color: rgb(44, 199, 83)
}


.watch-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: -10px;
    color: white ;
}

.disp{
    width:80px;
    height: 110px; 
    border: 3px solid white;
    display: inline-block;
    margin:0px 10px;
    text-align: center;
    font-size: 70px;
    border-radius: 15px;
}

.nums{
    margin-top: 15px;
}
.dot-container{
    display: inline-block;
    margin-top:-100px;
    font-size: 100px;
    
    
}



.text-container{
    margin-left: 20px;
    margin-right: -40px;
    margin-top: 15px;
}

.text{
    display: inline-block;
    font-size: 25px; 
    color: #ffffff; 
    margin-right: 80px;
}

.reset{
    background-color: rgb(235, 235, 235);
}
.reset:hover{
    background-color:rgb(184, 182, 182)  !important
}

.test-script{
    text-align: center;
}
.counting{
    width: 200px;
    height: 60px; 
    margin-top: 
    30px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 40px;
}
.counting:hover{
    background-color: rgb(197, 197, 197)
}