
body{
    background-color: rgb(24, 22, 22); 
    
    margin: 0;  
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.tabs{
    color: white;  
    max-width: 50%;
    align-self: flex-end;
    border-left: 2.5px solid rgb(24, 22, 22);
    border-right: 2.5px solid rgb(24, 22, 22);
   
}

.tabs:hover{
    background-color: rgb(92, 83, 83);
    cursor:default;
}
.left-tab{
    margin-left: -250px;
}

.tab-text{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 3px solid rgb(24, 22, 22);    
}

.tabs[data-status ="active"]{
    background-color: rgb(43, 39, 39);
}
.tab-text[data-status = "active"]{
    border-bottom: 3px solid white;
}
#main-container{
    display: none;
}
#main-container[data-status = "active"]{
    
    color: white;
    font-family: sans-serif;
    background-color: rgb(43, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%; 
    height: 470px;
    
}
#about-container{
    display:none; 
}

#about-container[data-status = "active"]{
    color: white;
    font-family: sans-serif;
    background-color: rgb(43, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%; 
    height: 470px;
}
.about-text{
    max-width: 700px;
    max-height: 440px;
    overflow: scroll;
    overflow-x: hidden;

}
#testdiv{
    width:70px;
    height:70px;
    position:absolute;
    border-radius: 10px;
    background-color: rgb(58, 160, 255);
    display:none; 
}


.watchContainer{
    margin: 20px;
    border: 5px solid rgb(24, 22, 22);;
    border-radius: 50px;
    padding: 10px 40px;
    min-width: 301px;
}
.start-both-button{
    width: 60px;
    height: 400px;
    margin: 20px;
    background-color: rgb(20, 224, 82);
    border-radius: 70px;
    border:none;
    font-size: 18px;
}

.start-both-button:hover{
    background-color: rgb(44, 199, 83)
 }

.watch-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: white ;
}

.disp{
    width:50px;
    height: 70px; 
    border-bottom: 3px solid white;
    display: inline-block;
    margin:0px 5px;
    text-align: center;
    font-size: 40px;   
}

.nums{
    margin-top: 12px;
}

.dot-container{
    display: inline-block;
    font-size: 40px; 
}

.text{
    display: inline-block;
    font-size: 20px; 
    color: #ffffff; 
    margin-top: 20px; 
    margin-bottom: 10px;
   
}

.hide{
    color: rgb(43, 39, 39);
}

.reset{
    background-color: rgb(236, 236, 223);
    border:none;
}
.reset:hover{
    background-color:rgb(238, 230, 159)  !important
}

.test-script{
    text-align: center;
}
.counting{
    width: 150px;
    height: 60px; 
    margin-top: 
    30px;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(237, 238, 220);
    margin-bottom: 20px;
   
}
.counting:hover{
    background-color: rgb(182, 179, 179)
}